.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1c1d21;
  border-bottom: 3px solid #e55812;
}

.navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar form {
  display: flex;
  gap: 0.5rem;
}

.navbar input {
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
}

.navbar form button {
  background-color: #e55812;
  border: 2px solid #e55812;
  border-radius: 4px;
  color: #ffff;
  padding: 0.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar:hover button {
  background-color: #1c1d21;
  color: #fff;
}
